* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	overflow: hidden;
	background-color: #000;
	font-family: 'Open Sans', sans-serif;
}
.text {
	position: absolute;
	pointer-events: none;
	color: #000;
	font-size: 10em;
	-webkit-text-stroke: 2px #fff;
	font-weight: 800;
	text-transform: uppercase;
	transform: translate(-50%, -50%);
}